resources/BL_confs/cfg/BL_XmlS_AndreySetup/Xml/Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="global-parameters"/>
        <xs:element name="objects"/>
        <xs:element name="applications">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="application" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
